In [1]:
import numpy as np
import pandas as pd

In [4]:
# My previous 8 days of running
runs = pd.DataFrame({
    'miles': [2.99, 15.5, 11.34, 6.57, 4.5, 4.47, 4.5, 2.95],
    'pace': [432, 409, 384, 402, 410, 415, 420, 427]
})

runs

   miles  pace
0   2.99   432
1  15.50   409
2  11.34   384
3   6.57   402
4   4.50   410
5   4.47   415
6   4.50   420
7   2.95   427

In [6]:
runs.iloc[0]

miles      2.99
pace     432.00
Name: 0, dtype: float64

In [7]:
runs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   miles   8 non-null      float64
 1   pace    8 non-null      int64
dtypes: float64(1), int64(1)
memory usage: 256.0 bytes